amex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://aps.services.esb.wso2.packt.com"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax21="http://aps.services.esb.wso2.packt.com/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://aps.services.esb.wso2.packt.com">
   <wsdl:documentation>AMEXProcessingService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax22="http://aps.services.esb.wso2.packt.com/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://aps.services.esb.wso2.packt.com">
         <xs:import namespace="http://aps.services.esb.wso2.packt.com/xsd"/>
         <xs:element name="doPayment">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0"
                              name="paymentInfo"
                              nillable="true"
                              type="ax22:AMEXPaymentInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doPaymentResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0"
                              name="return"
                              nillable="true"
                              type="ax22:PaymentConfirmation"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://aps.services.esb.wso2.packt.com/xsd">
         <xs:complexType name="AMEXPaymentInfo">
            <xs:sequence>
               <xs:element minOccurs="0"
                           name="billingAddress"
                           nillable="true"
                           type="xs:string"/>
               <xs:element minOccurs="0"
                           name="cardHolderName"
                           nillable="true"
                           type="xs:string"/>
               <xs:element minOccurs="0"
                           name="creditCardNumber"
                           nillable="true"
                           type="xs:string"/>
               <xs:element minOccurs="0"
                           name="expiryDate"
                           nillable="true"
                           type="xs:string"/>
               <xs:element minOccurs="0" name="paymentAmount" type="xs:double"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PaymentConfirmation">
            <xs:sequence>
               <xs:element minOccurs="0" name="paymentStatus" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="doPaymentRequest">
      <wsdl:part name="parameters" element="ns:doPayment"/>
   </wsdl:message>
   <wsdl:message name="doPaymentResponse">
      <wsdl:part name="parameters" element="ns:doPaymentResponse"/>
   </wsdl:message>
   <wsdl:portType name="AMEXProcessingServicePortType">
      <wsdl:operation name="doPayment">
         <wsdl:input message="ns:doPaymentRequest" wsaw:Action="urn:doPayment"/>
         <wsdl:output message="ns:doPaymentResponse" wsaw:Action="urn:doPaymentResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="AMEXProcessingServiceSoap11Binding"
                 type="ns:AMEXProcessingServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="doPayment">
         <soap:operation soapAction="urn:doPayment" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="AMEXProcessingServiceSoap12Binding"
                 type="ns:AMEXProcessingServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="doPayment">
         <soap12:operation soapAction="urn:doPayment" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="AMEXProcessingServiceHttpBinding"
                 type="ns:AMEXProcessingServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="doPayment">
         <http:operation location="doPayment"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AMEXProcessingService">
      <wsdl:port name="AMEXProcessingServiceHttpSoap11Endpoint"
                 binding="ns:AMEXProcessingServiceSoap11Binding">
         <soap:address location="http://192.168.56.1:9000/services/AMEXProcessingService.AMEXProcessingServiceHttpSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="AMEXProcessingServiceHttpsSoap11Endpoint"
                 binding="ns:AMEXProcessingServiceSoap11Binding">
         <soap:address location="https://192.168.56.1:9002/services/AMEXProcessingService.AMEXProcessingServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="AMEXProcessingServiceHttpSoap12Endpoint"
                 binding="ns:AMEXProcessingServiceSoap12Binding">
         <soap12:address location="http://192.168.56.1:9000/services/AMEXProcessingService.AMEXProcessingServiceHttpSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="AMEXProcessingServiceHttpsSoap12Endpoint"
                 binding="ns:AMEXProcessingServiceSoap12Binding">
         <soap12:address location="https://192.168.56.1:9002/services/AMEXProcessingService.AMEXProcessingServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="AMEXProcessingServiceHttpsEndpoint"
                 binding="ns:AMEXProcessingServiceHttpBinding">
         <http:address location="https://192.168.56.1:9002/services/AMEXProcessingService.AMEXProcessingServiceHttpsEndpoint"/>
      </wsdl:port>
      <wsdl:port name="AMEXProcessingServiceHttpEndpoint"
                 binding="ns:AMEXProcessingServiceHttpBinding">
         <http:address location="http://192.168.56.1:9000/services/AMEXProcessingService.AMEXProcessingServiceHttpEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
